@layer reset, base, atoms, ui;

@import "./palette.css" layer(base);
@import "./colors.css" layer(base);

@layer base {
  html {
    color-scheme: light dark;
  }

  html[data-theme="light"] {
    color-scheme: light;
  }

  html[data-theme="dark"] {
    color-scheme: dark;
  }
}
