import { cx as combineClasses } from "classix";

export type ClassValue = string | false | null | undefined;

export function cx(...values: ClassValue[]): string {
  return combineClasses(...values);
}
